<!DOCTYPE html>
<html>
    <head>
        <title>Football Masters Series</title> 
    </head>
<body>
    <header><h1><a href="/">Football Masters Series</a></h1></header>
    
    <article>
        <time>published: 14 June 2022</time>
        <h2><a href="/">Football Masters Series part 1</a></h2>
        <p> Blah Blah Blah</p>
    </article>
    
    <article>
        <time>published: 16 June 2022</time>
        <h2><a href="/">Football Masters Series part 2</a></h2>
        <p> Blah Blah Blah Blah Blah</p>
    </article>
    <p>Hi there!</p>
    <p>It works!</p>
</body>
</html>